.DS_Store
alura/clustering-aplicado-recomendando-musicas-com-kmeans/.env
alura/clustering-aplicado-recomendando-musicas-com-kmeans/.cache
alura/machine_learning/clustering-aplicado-recomendando-musicas-com-kmeans/.cache
alura/machine_learning/clustering-aplicado-recomendando-musicas-com-kmeans/.env
